
<body>

    <!-- header section starts  -->

    <header>

        <div id="menu-bar" class="fas fa-bars"></div>

        <a href="#" class="logo"><span>T</span>ravel</a>

        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#book">book</a>
            <a href="#packages">packages</a>
            <a href="#services">services</a>
            <a href="#gallery">gallery</a>
            <a href="#review">review</a>
            <a href="#evaluate">Evaluate</a>
        </nav>

        <div class="icons">
            <i class="fas fa-search" id="search-btn"></i>
            <i class="fas fa-user" id="login-btn"></i>
        </div>

        <form action="" class="search-bar-container">
            <input type="search" id="search-bar" placeholder="search here...">
            <label for="search-bar" class="fas fa-search"></label>
        </form>

    </header>

    <!-- header section ends -->

    <!-- login form container  -->

    <div class="login-form-container">

        <i class="fas fa-times" id="form-close"></i>

        <form method="post" action="/account/login">
            <h3>login</h3>
            <input name="username" type="email" class="box" placeholder="enter your email">
            <input name="password" type="password" class="box" placeholder="enter your password">
           <input type="submit" value="login now" class="btn"> 
            <input type="checkbox" id="remember">
            <label for="remember">remember me</label>
            <p>forget password? <a href="/forgetpassword">click here</a></p>
          <!--  <p>don't have and account? <a href="#">register now</a></p> -->
        </form>
    </div>

    <!-- home section starts  -->

    <section class="home" id="home">

        <div class="content">
            <h3>adventure is worthwhile</h3>
            <p>dicover new places with us, adventure awaits</p>
          <!--  <a href="#" class="btn">discover more</a>-->
        </div>

        <div class="controls">
            <span class="vid-btn active" data-src="images/vid-1.mp4"></span>
            <span class="vid-btn" data-src="images/vid-2.mp4"></span>
            <span class="vid-btn" data-src="images/vid-3.mp4"></span>
            <span class="vid-btn" data-src="images/vid-4.mp4"></span>
            <span class="vid-btn" data-src="images/vid-5.mp4"></span>
        </div>

        <div class="video-container">
            <video src="images/vid-1.mp4" id="video-slider" loop autoplay muted></video>
        </div>

    </section>

    <!-- home section ends -->

    <!-- book section starts  -->

    <section class="book" id="book">

        <h1 class="heading">
            <span>b</span>
            <span>o</span>
            <span>o</span>
            <span>k</span>
            <span class="space"></span>
            <span>n</span>
            <span>o</span>
            <span>w</span>
        </h1>

        <div class="row">

            <div class="image">
                <img src="images/book-img.svg" alt="">
            </div>

            <form action="">
                <div class="inputBox">
                    <h3>where to</h3>
                    <input type="text" placeholder="place name">
                </div>
                <div class="inputBox">
                    <h3>how many</h3>
                    <input type="number" placeholder="number of guests">
                </div>
                <div class="inputBox">
                    <h3>arrivals</h3>
                    <input type="date">
                </div>
                <div class="inputBox">
                    <h3>leaving</h3>
                    <input type="date">
                </div>
                <input type="submit" class="btn" value="book now">
            </form>

        </div>

    </section>

    <!-- book section ends -->

    <!-- packages section starts  -->

    <section class="packages" id="packages">

        <h1 class="heading">
            <span>p</span>
            <span>a</span>
            <span>c</span>
            <span>k</span>
            <span>a</span>
            <span>g</span>
            <span>e</span>
            <span>s</span>
        </h1>

        <div class="box-container">
        
          {{#each data.products1}}
            <div class="box">
                <img src="{{this.image}}" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> {{this.location}} </h3>
                    <p>{{this.address}}</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="price"> {{this.price}} <span>$120.00</span> </div>
                    <a href="#book" class="btn">book now</a>
                </div>
            </div>
          {{/each}}
        </div>

    </section>

    <!-- packages section ends -->

    <!-- services section starts  -->

    <section class="services" id="services">

        <h1 class="heading">
            <span>s</span>
            <span>e</span>
            <span>r</span>
            <span>v</span>
            <span>i</span>
            <span>c</span>
            <span>e</span>
            <span>s</span>
        </h1>

         <div class="box-container">

        <div class="box">
            <i class="fas fa-hotel"></i>
            <h3>affordable hotels</h3>
            <p>Cheap hotel, suitable for everyone. The hotel is fully furnished and airy, the location is near the places you go to travel</p>
        </div>
        <div class="box">
            <i class="fas fa-utensils"></i>
            <h3>food and drinks</h3>
            <p>Food and drink must be hygienic and have a certificate of food safety and hygiene. Food and fare are prepared by highly skilled chefs and quarnlys</p>
        </div>
        <div class="box">
            <i class="fas fa-bullhorn"></i>
            <h3>safty guide</h3>
            <p>English language information guide, cheerful, enthusiastic with tourists and especially knowledgeable about the history and beautiful scenery of the locality</p>
        </div>
        <div class="box">
            <i class="fas fa-globe-asia"></i>
            <h3>tourist location</h3>
            <p>Regularly updated tourist locations. travel takes people to new destinations and seems to help people have a safe trip and feel new</p>
        </div>
        <div class="box">
            <i class="fas fa-plane"></i>
            <h3>fastest travel</h3>
            <p>Fast and safe means of transportation in tourist destinations, drivers with long experience in the profession</p>
        </div>
        <div class="box">
            <i class="fas fa-hiking"></i>
            <h3>adventures</h3>
            <p>The trip ensures you have a memorable travel experience when you come here. you can learn more about the people, history and culture of the place you travel to</p>
        </div>

    </div>

    </section>

    <!-- services section ends -->

    <!-- gallery section starts  -->

    <section class="gallery" id="gallery">

        <h1 class="heading">
            <span>g</span>
            <span>a</span>
            <span>l</span>
            <span>l</span>
            <span>e</span>
            <span>r</span>
            <span>y</span>
        </h1>

        <div class="box-container">
          {{#each data.products1}}
            <div class="box">
                <img src="{{this.image}}" alt="">
                <div class="content">
                    <h3>{{this.location}}</h3>
                    <p>Find out more</p>
                    <a href="{{this.report}}" class="btn">see more</a>
                </div>
            </div>
              {{/each}}
        </div>

    </section>

    <!-- gallery section ends -->

    <!-- review section starts  -->

    <section class="review" id="review">

        <h1 class="heading">
            <span>r</span>
            <span>e</span>
            <span>v</span>
            <span>i</span>
            <span>e</span>
            <span>w</span>
        </h1>

        <div class="swiper-container review-slider">

            <div class="swiper-wrapper">
                 {{#each data.products2}}
                <div class="swiper-slide">
                    <div class="box">
                       <!-- <img src="images/pic1.png" alt="">-->
                        <h3>{{this.name}}</h3>
                        <h4>{{this.email}}</h4>
                        <p>{{this.comment}}</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
                 {{/each}}
            </div>

        </div>

    </section>

    <!-- review section ends -->

    <!-- evaluate section starts  -->

    <section class="evaluate" id="evaluate">

        <h1 class="heading">
            <span>e</span>
            <span>v</span>
            <span>a</span>
            <span>l</span>
            <span>u</span>
            <span>a</span>
            <span>t</span>
            <span>e</span>
        </h1>

        <div class="row">

            <div class="image">
                <img src="images/contact-img.svg" alt="">
            </div>

            <form action="">
                <div class="inputBox">
                    <input type="text" placeholder="name">
                    <input type="email" placeholder="email">
                </div>
                <textarea placeholder="comment" name="" id="" cols="30" rows="10"></textarea>
                <input type="submit" class="btn" value="send comment">
            </form>

        </div>

    </section>

    <!-- evaluate section ends -->

    <!-- brand section  -->
    <section class="brand-container">

        <div class="swiper-container brand-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="images/1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="images/2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="images/3.jpg" alt=""></div>
                <div class="swiper-slide"><img src="images/4.jpg" alt=""></div>
                <div class="swiper-slide"><img src="images/5.jpg" alt=""></div>
                <div class="swiper-slide"><img src="images/6.jpg" alt=""></div>
            </div>
        </div>

    </section>

    <!-- footer section  -->

    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>about us</h3>
                <p>We will try our best to help you have the safest and most enjoyable trip.</p>
            </div>
            <div class="box">
                <h3>branch locations</h3>
                <a href="#">Hà Nội</a>
                <a href="#">Hồ Chí Minh</a>
                <a href="#">Hải Dương</a>
                <a href="#">Thái Bình</a>
            </div>
            <div class="box">
                <h3>quick links</h3>
                <a href="#">home</a>
                <a href="#book">book</a>
                <a href="#packages">packages</a>
                <a href="#services">services</a>
                <a href="#gallery">gallery</a>
                <a href="#review">review</a>
                <a href="#evaluate">evaluate</a>
            </div>
            <div class="box">
                <h3>follow us</h3>
                <a href="#">facebook</a>
                <a href="#">instagram</a>
                <a href="#">twitter</a>
                <a href="#">linkedin</a>
            </div>

        </div>

        <h1 class="credit"> created by <span> mr.vũ ngọc anh </span> | all rights reserved! </h1>

    </section>

















</body>

</html>